@import "../../shared/styles/main";

.header {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  @include tablet {
    align-items: center;
    min-height: 70px;
    padding: 12px;
  }

  &__mobile-controls {
    background-color: inherit;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 20;
    @include tablet {
      display: none;
    }
  }

  &__company-logo {
    -webkit-font-smoothing: antialiased;
    color: $color-monochrome-1;
    font-family: $font-secondary;
    font-size: 26px;
    height: 27px;
    margin-top: 12px;
    text-align: center;
    text-decoration: none;
    @include tablet {
      display: none;
    }
  }

  &__menu-button {
    background: none;
    border: none;
    border-radius: none;
    outline: none;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 30%;
    @include tablet {
      display: none;
    }

    &--clicked {

      .header__menu-button-icon--burger {
        display: none;
        }

      .header__menu-button-icon--close {
        border: none;
        display: block;
        outline: none;
      }
    }

    &-icon--close {
      display: none;
    }
  }
}
