@import "../../../shared/styles/main";

.main-navigation {
  background-color: $color-primary;
  color: $color-monochrome-1;
  display: flex;
  flex-direction: column;
  flex-flow: flex-start;
  font-size: 24px;
  font-weight: 400;
  height: calc(100vh - 50px);
  overflow: hidden;
  position: fixed;
  top: 50px;
  transform: translate(0, -100%);
  transition: transform .3s ease-in-out, background-color .3s ease-in-out;
  width: 100%;
  z-index: 10;

  @include tablet {
    align-items: center;
    flex-direction: row;
    font-size: 14px;
    font-style: normal;
    height: auto;
    position: relative;
    top: auto;
    transform: translate(0, 0);
    transition: none;
  }

  &--open {
    transform: translate(0, 0);

    @include tablet {
      transform: none;
    }
  }

  &__item {
    color: $color-monochrome-1;
    font-family: $font-primary;
    margin: 22px auto;
    text-decoration: none;

    &:first-child {
      margin-top: 44px;
      @include tablet {
        margin-top: 0;
      }
    }

    @include tablet {
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      margin: 0 20px 0 0;
    }

    &--active {
      background-color: $color-accent;
      border-radius: 4px;
      padding: 5px 11px 2px;
      text-decoration: none;
      @include tablet {
        font-size: 14px;

        padding: 6px 16px;
      }
    }
  }

  &__profile-button {
    background-color: $color-monochrome-1;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
    padding: 12px 46px 12px 12px;
    position: relative;
    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: $color-accent-3;
    }

    @include tablet {
      align-items: center;
      border-radius: 36px;
      display: flex;
      margin-left: auto;
      vertical-align: middle;
    }
  }

  &__company-logo {
    display: flex;
    height: 10px;
    margin-right: 7px;
    width: 75px;
    }

  &__user-icon {
    border-radius: 50%;
    display: flex;
    height: 32px;
    margin-left: 7px;
    position: absolute;
    right: 2px;
    width: 32px;
    }

  &__arrow-button {
    background-color: $color-primary;
    border: none;
    outline: none;
    position: absolute;
    right: -4px;
    transform: translateX(100%);
  }
}
