@import "../../shared/styles/main";

.timesheet-input {

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include tablet {
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__form {
    background-color: $color-accent-2;
    display: flex;
    flex-direction: column;
    position: relative;

    @include tablet {
      flex-direction: row;
    }

    &--open {
      display: flex;
    }

    &--closed {
      display: none;

      @include tablet {
        display: flex;
      }
    }
  }

  &__new-button {
    background: linear-gradient($color-accent-alt-7, $color-accent-alt-8 98%);
    border: none;
    border-radius: 4px;
    color: $color-monochrome-1;
    padding: 9px 0 8px;
    text-align: center;
    width: 100%;
    @include tablet {
      display: none;
    }

    &--invisible {
      display: none;
    }
  }

  &__field-item {
    margin: 16px auto 8px;
    width: 90%;

    @include tablet {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 30%;
    }

    &--from {
      width: 40%;
    }

    &--to {
      width: 40%;
    }
  }

  &__add-button {
    background: linear-gradient($color-accent-alt-7, $color-accent-alt-8 98%);
    border: none;
    border-radius: 4px;
    color: $color-monochrome-1;
    padding: 9px 0 8px;
    width: 100%;

    @include tablet {
      height: 36px;
      margin: auto;
      padding: 0;
      width: 90px;
    }

    &--saving {
      background: $color-primary;
    }
  }

  &__close-button {
    -webkit-mask: url("/static/icons/close.svg")   no-repeat;
    -webkit-mask-size: 7px 7px;
    background-color: $color-monochrome-6;
    border-style: none;
    border-width: 0;
    display: inline;
    height: 7px;
    margin-left: 95%;
    margin-top: 16px;

    @include tablet {
      display: none;
    }
  }

  &__label {
    color: $color-accent-4;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 12px;
    opacity: .5;
  }

  &__select {
    background: linear-gradient($color-accent-alt-5, $color-monochrome-1);
    border: solid 1px $color-accent-3;
    border-radius: 4px;
    font-size: 14px;
    font-style: normal;
    height: 36px;
    width: 100%;

    @include tablet {
      width: 80%;
    }
  }

  &__time-wrapper {
    display: flex;
    flex-direction: row;
    margin: 16px auto 8px;

    @include tablet {
      margin: auto;
    }
  }
}
