@import "../../shared/styles/main";

.timesheet-entry-wrapper {
  align-items: center;
  border: solid 1px $color-accent-2;
  border-left: solid 4px $color-primary;
  display: flex;
  justify-content: flex-start;
  padding: 30px 16px 33px;

  @include tablet {
    &:hover {
      .timesheet-entry__delete-button {
        background-color: $color-delete-button;
        border: none;
        display: flex;
        flex-direction: row;
        height: 30px;
        justify-content: space-around;
        opacity: 1;
        width: 79px;
    }

      .timesheet-entry__delete-icon {
        -webkit-mask: url("/static/icons/forbid.svg")   no-repeat;
        -webkit-mask-size: 16px 16px;
        // background-color: $color-monochrome-1;
        height: 16px;
        width: 16px;
    }
  }
}
}

.timesheet-entry {
  &__delete-button {
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    background-color: $color-monochrome-1;
    border: none;
    border-radius: 4px;
    color: $color-monochrome-1;
    flex-direction: row;
    height: 30px;
    justify-content: space-around;
    margin-left: 33px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    width: 79px;
  }

  &__delete-icon {
    background-color: $color-monochrome-1;
    height: 0;
    width: 0;
  }

  &__employer {
    color: $color-accent-5;
    font-size: 16px;
  }

  &__time {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  &__time-range {
    color: $color-accent-5;
    font-size: 16px;
    margin-left: auto;
  }

  &__cumulative-time {
    color: $color-accent-6;
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
  }
}
