@import "../../shared/styles/main";

.timesheet-entry-wrapper {
  border: solid 1px $color-accent-2;
  border-left: solid 4px $color-primary;
  display: flex;
  justify-content: space-between;
  padding: 30px 16px 33px;

  @include tablet {
    &:hover {
      .timesheet-entry__delete-button {
        display: block;
    }
  }
}
}

.timesheet-entry {
  &__delete-button {
    background-color: $color-delete-button;
    display: none;
  }

  &__employer {
    color: $color-accent-5;
    font-size: 16px;
  }

  &__time {
    color: $color-accent-5;
    font-size: 16px;
  }
}
