@import "../../../shared/styles/main";

.employer-selector {
  background: $color-monochrome-1;
  border: solid 1px $color-accent-alt-9;
  border-radius: 4px;
  color: $color-accent-5;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  margin-left: auto;
  margin-right: 10px;
  min-width: 200px;
  padding: 0 0 0 15px;
}
