@import "../../../shared/styles/main";

.select-box {
  display: none;
  position: relative;

  @include tablet {
    display: block;
  }

  &__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    appearance: none;
    background-color: $color-monochrome-1;
    border: solid 1px $color-accent-8;
    border-radius: 4px;
    color: $color-accent-6;
    display: block;
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    margin-right: 12px;
    min-width: 120px;
    padding-left: 12px;
  }

  &::after {
    background: url("/static/icons/arrow-down-2.svg");
    content: "";
    height: 6px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 10px;
  }
}
